#consumable-page #header {
    grid-column: 3 / span 3;
}

#consumable-page #image {
    grid-column: 3 / span 3;
    grid-row: 2;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 250px;
}

#consumable-page #rating {
    grid-column: 6;
    grid-row: 1;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#consumable-page #rating img {
    width: 40px;
}

#consumable-page #information {
    grid-column: 6 / span 4;
    grid-row: 2;
    font-size: 16pt;
}

#consumable-page #tabs {
    grid-column: 3 / span 3;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#consumable-page .tab {
    border-radius: 10px 10px 0 0;
    grid-column: span 1;
    width: 99%;
    text-align: center;
}

#consumable-page .tab:hover {
    cursor: pointer;
}

#sub-section {
    grid-column: 3 / span 8;
    grid-row: 4;
    border: 2px solid #123456;
}
