.FilterModal .background {
    height: 100vh;
    width: 100vh;
    background: rgba(55, 54, 54, 0.5);
    position: fixed;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FilterModal .container {
    height: auto;
    width: 60vw;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 1vh 0 1vh 0;
}

.FilterModal .container #close-button {
    display: flex;
    font-size: calc(10pt + 1vmin);
    width: inherit;
    justify-content: flex-end;
    padding-right: 4vw;    
} 

.FilterModal .container #heading {
    font-size: calc(30pt + 1vmin);
}

.FilterModal .container #sub {
    font-size: calc(10pt + 1vmin);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 1vh;
}

.FilterModal .container #sub #heading {
    font-size: calc(15pt + 1vmin);
}

.FilterModal .container #sub #array {
    display: flex;
    margin: 1vw;
}

.FilterModal .container #sub #value {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.FilterModal button {
    width: 30vw;
    height: 2vh;
    margin: 1vh;
    font-size: calc(10pt + 1vmin);
    background-color: var(--mainColour);
    color: #ffffff;
    border-radius: 1vh;
}
