.headerbackground {
    background-color: var(--myBlue);
}

header {
    color: var(--myWhite);
    padding-bottom: 1vh;
}

h1 {
    grid-column: 1 / span 12;
    grid-row: 1;
    justify-self: center;
}

a {
    box-shadow: inset 0 0 0 0 var(--myWhite);
    color: var(--myWhite);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    box-shadow: inset 100px 0 0 0 var(--myWhite);
    color: var(--myBlue);
}

nav {
    grid-column: 2 / span 10;
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header input {
    display: none;
}

#nav-search-icon, #nav-menu-icon, #nav-menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    header input {
        display: block;
        grid-column: 12 ;
        grid-row: 2;
        height: 30px;
        background-color: var(--myWhite);
        border: none;
        padding-left: 10px;
        margin-right: 10px;
    }
    
}

@media screen and (max-width: 600px) {
    header input, nav {
        display: none;
    }

    header {
        padding-bottom: 0vh;
    }
    
    h1 {
        font-size: 15pt;
    }

    #nav-search-icon, #nav-menu-icon {
        display: block;
        grid-row: 1;
        width: 30px;
        align-self: center;
        cursor: pointer;
    }

    #nav-search-icon {
        grid-column: 12;
        padding-right: 10px;
    }

    #nav-menu-icon {
        grid-column: 1;
        padding-left: 10px;
    }

    #nav-menu {
        flex-direction: column;
        position: absolute;
        top: 37px;
        left: 20px;
        background-color: var(--myBlue);
        height: 200px;
        justify-content: space-between;
        padding: 10px;
        font-size: 15pt;
    }
}
