.Header {
    display: flex;
    background-color: var(--mainColour);
    color: var(--secondaryColour);
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.Header #heading {
  font-size: calc(30pt + 1vmin);  
  padding: 1vh;
}

.Header #nav-bar {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    font-size: calc(20pt + 1vmin); 
}

.Header #nav-bar .link {
    text-decoration: none;
    color: inherit;
}

.Header #nav-bar .active {
    text-decoration: underline;
}
