.headerbackground {
    background-color: var(--myBlue);
}

header {
    color: var(--myWhite);
    padding-bottom: 1vh;
}

h1 {
    grid-column: 1 / span 12;
    grid-row: 1;
    justify-self: center;
}

a {
    color: var(--myWhite);
}

nav {
    grid-column: 2 / span 10;
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    display: none;
}

@media screen and (max-width: 1200px) {
    input {
        display: block;
        grid-column: 12 ;
        grid-row: 2;
        height: 30px;
        background-color: var(--myWhite);
        border: none;
        padding-left: 10px;
        margin-right: 10px;
    }
    
}
