#consumable-item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--myBlue);
    color: #ffffff;
    grid-column: span 3;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

#consumable-item:hover {
    cursor: pointer;
    background-color: var(--myBlueHover);
}

#item-stars {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#star {
    width: 5%;
    margin: 2px;
}

#consumable-item .header {
    margin-top: 5%;
    text-align: center;
}

#consumable-item h2 {
    margin: 0;
    margin-bottom: 1vh;
    margin-top: 3vh;
}

#consumable-item span {
    display: none;
}

#item-image {
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 1vh;
}

#information-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 2vh;
}

.information {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.information p {
    margin: 0;
    margin-bottom: 1vh;
}


@media screen and (max-width: 1100px) {
    #consumable-item {
        grid-column: span 4;
    }   
}

@media screen and (max-width: 800px) {
    #consumable-item {
        grid-column: span 6;
    }   
}

@media screen and (max-width: 600px) {
    #consumable-item {
        grid-column: span 12;
        display: grid;
        margin: 2.5%;
    }

    #consumable-item h2 {
        margin: 0;
    }

    #header {
        display: flex;
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
        align-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        margin: 0 1vw 0 1vw;
    }

    #item-image {
        grid-column: 4 / span 1;
        grid-row: 1 / span 2;
        margin: 1vh 0 1vh 0;
        height: 125px;
        width: 125px;
    }

    #information-section {
        grid-column: 5 / span 9;
        grid-row: 1 / span 1;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 11pt;
        display: flex;
        align-items: self-end;
    }

    hr {
        height: 50%;
    }

    #item-stars {
        grid-column: 6 / span 6;
        grid-row: 2 / span 1;
        margin: 0;
        width: 100%;
        align-items: center;
        height: 100%;
    }

    #star {
        width: 7%;
    }
}
